@model S3.Train.WebPerFume.Areas.Admin.Models.ProductViewModel

@{
    ViewBag.Title = "DetailProduct";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card">
    <div class="card-body">
        <div class="h3 card-header">Detail @Model.Name Product</div>
        <br />
        <div class="container">
            <div class="row row-cols-1 h-100">
                <div class="col col-lg">
                    <strong> Name:</strong> @Model.Name
                </div>
            </div>
            <br />
            <div class="row row-cols-1 h-50">
                <div class="col col-lg">
                    <strong> Image:</strong> <img src="~/Content/img/product-men/@Model.ImagePath" class="img-lg img-thumbnail" />
                </div>
            </div>
            <br />
            <div class="row row-cols-1 h-50">
                <div class="col col-lg">
                    <strong> Active:</strong>
                    @{
                        if (Model.IsActive)
                        {
                            <a href="@Url.Action("ChangeStatusProduct","Product", new { product_Id= Model.Id, status = !Model.IsActive})">
                                <label class="badge badge-success">On</label>
                            </a>
                        }
                        else
                        {
                            <a href="@Url.Action("ChangeStatusProduct","Product", new { product_Id= Model.Id, status = !Model.IsActive})">
                                <label class="badge badge-danger">Off</label>
                            </a>
                        }
                    }
                </div>
            </div>
            <br />
            <div class="row row-cols-1 h-50">
                <div class="col col-lg">
                    <strong>Create Date:</strong> @Model.CreateDate
                </div>
            </div>
            <br />
            
            <br />
            <div class="row row-cols-1 h-50">
                <div class="col col-lg">
                    <strong>   Description:</strong> @Html.Raw(HttpUtility.HtmlDecode(Model.Description))
                </div>
            </div>
            <br />
        </div>
        <div class="row">
            <div class="col-md-auto">
                @Html.ActionLink("Back To List", "Index", "Brand", new { @class = "btn btn btn-primary btn-fw" })
            </div>
            <div class="col-md-auto">
                @Html.Partial("_AddOrEditBrandPartial", Model)
            </div>
            <div class="col-md-auto">
                @Html.Partial("_DeleteBrandPartial", Model)
            </div>
        </div>

    </div>

</div>
