@using S3.Train.WebPerFume.Areas.Admin.Models;
@model IEnumerable<ProductViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";

    int stt = 1;
}

<div class="card card-body display">
    <h2 class="card-text">Products</h2>
    <div>
        @Html.ActionLink("New", "AddOrEditProduct", "Product", new { @class = "btn btn-gradient-success btn-fw" })
    </div>
    <hr />
    <table id="myTable" class="table table-hover display">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImagePath)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Brand_Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Vendor_Id)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.CreateDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
                <th>Functions</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tbody>
                <tr>
                    <td class="align-middle">
                        @stt
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>

                    <td class="py-1 align-middle">
                        <a href="#" class="py-1">
                            <img src="~/Content/img/product-men/@item.ImagePath" alt="@item.Name"/>
                        </a>
                    </td>

                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Brand.Name)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Vendor.Name)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.CreateDate)
                    </td>
                    <td class="align-middle">
                        @{
                            if (item.IsActive)
                            {
                                <label class="badge badge-success">On</label>
                            }
                            else
                            {
                                <label class="badge badge-danger">Off</label>
                            }
                            stt = stt + 1;
                        }
                    </td>
                    <td class="align-middle">
                        @Html.ActionLink("Edit", "AddOrEditProduct", "Product", new { id = item.Id }, new { @class = "btn btn-gradient-info btn-fw" })
                        <br />
                        @Html.Partial("_DeleteProduct", item)
                    </td>
                </tr>
            </tbody>
        }

    </table>
</div>

@section scripts
{
    <script>
       /* $(document).ready(function () {
            $('#myTable').DataTable();
        });*/
    </script>
    }