@*@model S3.Train.WebPerFume.Areas.Admin.Models.CategoryViewModel

@{
    string title = "";
    string cssTiltle = "";
    if (Model.Name == null)
    {
        title = "New";
        cssTiltle = "btn btn-gradient-success btn-fw";
    }
    else
    {
        title = "Update";
        cssTiltle = "btn btn-gradient-success btn-fw";
    }
}

<script src="~/Content/ckeditor/ckeditor.js"></script>

@using (Html.BeginForm("AddOrEditCategory", "Category", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <button type="button" class="@cssTiltle" data-toggle="modal" data-target="#exampleModal">
        @title
    </button>

     Modal 
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">@title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Summary, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Summary, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Summary, "", new { @class = "text-danger" })
                            <script type="text/javascript">CKEDITOR.replace("Summary", { htmlEncodeOutput: true });</script>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-gradient-secondary btn-fw" data-dismiss="modal">No</button>
                    <button type="submit" class="btn btn-gradient-success btn-fw">Yes</button>
                </div>
            </div>
        </div>
    </div>
}*@


