@using S3.Train.WebPerFume.Areas.Admin.Models
@model CategoryViewModel

@{
    ViewBag.Title = "DetailCategory";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card">
    <div class="card-body">
        <div class="h3">Detail Category </div>
        <br />
        <div class="container">
            <div class="row row-cols-1 h-100">
                <div class="col col-lg">
                    <strong>Name:</strong> @Model.Name
                </div>
            </div>
            <br />
            <br />
            <div class="row row-cols-1 h-50">
                <div class="col col-lg">
                    Active:
                    @{
                        if (Model.IsActive)
                        {
                            <a href="@Url.Action("ChangeStatusCategory","Category", new { category_Id= Model.Id, status = !Model.IsActive})">
                                <label class="badge badge-success">On</label>
                            </a>
                        }
                        else
                        {
                            <a href="@Url.Action("ChangeStatusCategory","Category", new { category_Id= Model.Id, status = !Model.IsActive})">
                                <label class="badge badge-danger">Off</label>
                            </a>
                        }
                    }
                </div>
            </div>
            <br />
            <div class="row row-cols-1 h-50">
                <div class="col col-lg">
                    Create Date: @Html.DisplayFor(modelItem => Model.CreatedDate)
                </div>
            </div>
            <br />
            <div class="row row-cols-1 h-50">
                <div class="col col-lg">
                    Update Date:  @Html.DisplayFor(modelItem => Model.UpdatedDate)
                </div>
            </div>
            <br />
            <div class="row row-cols-1 h-50">
                <div class="col col-lg">
                    Summary: @Html.Raw(HttpUtility.HtmlDecode(Model.Summary))
                </div>
            </div>
            <br />
            Product List
            @Html.Partial("~/Areas/Admin/Views/Product/_ProductSmall_Info.cshtml", Model.ProductCategoriesModels)
        </div>
        <br />
        <div class="row">
            <div class="col-md-auto">
                @Html.ActionLink("Back To List", "Index", "Category", new { @class = "btn btn btn-primary btn-fw" })
            </div>
            <div class="col-md-auto">
                @Html.ActionLink("Update", "AddOrEditCategory", "Category", new { id = Model.Id }, new { @class = "btn btn btn-info btn-fw" })
            </div>
            <div class="col-md-auto">
                @Html.Partial("_DeleteCategoryPartial", Model)
            </div>
        </div>
    </div>

</div>

