@using S3.Train.WebPerFume.Areas.Admin.Models;
@model IEnumerable<ProductAdvertisementViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    int stt = 1;
}

<div class="card card-body display">
    <h2 class="card-text">Product Advertisement</h2>
    <div>
        @Html.ActionLink("New", "AddOrEditProductAdvertisement", "ProductAdvertisement", new { @class = "btn btn-gradient-success" })
    </div>
    <hr />
    <table id="myTable" class="table table-hover">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImagePath)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EventUrlCaption)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreateDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
                <th>Functions</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tbody>
                <tr>
                    <td class="align-middle">
                        @stt
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td class="py-1 align-middle">
                        <img src="~/Content/img/banner/@item.ImagePath" class="img-" alt="@item.Title" />
                    </td>
                    <td class="align-middle">
                        <a href="@item.EventUrl" class="text-black">@item.EventUrlCaption</a>
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.CreateDate)
                    </td>
                    <td class="align-middle">
                        @{
                            if (item.IsActive)
                            {
                                <label class="badge badge-success">On</label>
                            }
                            else
                            {
                                <label class="badge badge-danger">Off</label>
                            }
                            stt += 1;
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "AddOrEditProductAdvertisement", "ProductAdvertisement", new { @class = "btn btn-gradient-info btn-fw" }, new { id = item.Id })
                        <br />
                        @Html.Partial("_DeleteProductAdvertisement", item)
                    </td>
                </tr>
            </tbody>
        }

    </table>
</div>

@section scripts
{
    @*<script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>*@
}
