@using S3.Train.WebPerFume.Areas.Admin.Models;
@model IEnumerable<ProductAdvertisementViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card card-body display">
    <h2 class="card-text">ProductAdvertisements</h2>
    <div>
        @Html.ActionLink("New", "AddOrEditProductAdvertisement", "ProductAdvertisement", new { @class = "btn btn-gradient-success" })
    </div>
    <hr />
    <table id="myTable" class="table table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EventUrl)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EventUrlCaption)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImagePath)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreateDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
                <th>Functions</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tbody>
                <tr>
                    <td class="py-1">
                        <img src="~/Content/img/banner/@item.ImagePath" class="img-" alt="" />
                    </td>
                    <td>
                        @item.CreateDate
                    </td>
                    <td>
                        @{
                            if (item.IsActive)
                            {
                                <div class="form-check form-check-success">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" name="ExampleRadio2" id="ExampleRadio2" checked="">
                                        <i class="input-helper"></i>
                                    </label>
                                </div>
                            }
                            else
                            {
                                <div class="form-check form-check-danger">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" name="ExampleRadio2" id="ExampleRadio2" checked="">
                                        <i class="input-helper"></i>
                                    </label>
                                </div>
                            }

                        }
                    </td>
                    <td>
                        @Html.Partial("_DeleteProductAdvertisement", item)
                        @Html.ActionLink("Edit", "AddOrEditProductAdvertisement", "ProductAdvertisement", new { @class = "btn btn-gradient-success" }, new { id = item.Id })
                    </td>
                </tr>
            </tbody>
        }

    </table>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}
