@using S3.Train.WebPerFume.Areas.Admin.Models;
@model IEnumerable<OrderViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";

    int stt = 1;
}

<div class="card card-body display">
    <h2 class="card-text">Orders</h2>
    <hr />
    <table id="myTable" class="table table-hover">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShoppingCart_Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeliveryName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
                <th>Functions</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tbody>
                <tr>
                    <td>
                        @stt
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShoppingCart_Id)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.DeliveryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderDate)
                    </td>
                    <td>
                        @{
                            if (item.IsActive)
                            {
                                <label class="badge badge-success">Delivered</label>
                            }
                            else
                            {
                                <label class="badge badge-danger">delivery</label>
                            }
                            stt = stt + 1;
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Detail", "DetailProduct", "Order", new { id = item.Id }, new { @class = "btn btn-gradient-secondary btn-fw" })
                        <br />
                        @Html.Partial("_DeleteOrder", item)
                    </td>
                </tr>
            </tbody>
        }

    </table>
</div>

@section scripts
{
    @*<script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>*@
}