
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<section>
    <div class="card card-body">
        <div class="h4">
            <span class="page-title-icon  text-black mr-2"</span>
            Dashboard
        </div>

    </div>
    <div class="row">
        <div class="col-md-4 stretch-card grid-margin">
            <div class="card bg-gradient-danger card-img-holder text-white" >
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="@Url.Action("Index","Banner")" class="nav-link">
                            <span class="menu-title">Banner</span>
                            <i class="mdi mdi-monitor-multiple menu-icon"></i>
                        </a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-md-4 stretch-card grid-margin">
            <div class="card bg-gradient-info card-img-holder text-white">
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="@Url.Action("Index","Brand")" class="nav-link">
                            <span class="menu-title">Brand</span>
                            <i class="mdi mdi-xaml menu-icon"></i>
                        </a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-md-4 stretch-card grid-margin">
            <div class="card bg-gradient-success card-img-holder text-white">
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="@Url.Action("Index","Category")" class="nav-link">
                            <span class="menu-title">Category</span>
                            <i class="mdi mdi-format-list-bulleted menu-icon"></i>
                        </a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-md-4 stretch-card grid-margin">
            <div class="card bg-gradient-warning card-img-holder text-white">
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="@Url.Action("Index","Order")" class="nav-link">
                            <span class="menu-title">Order</span>
                            <i class="vmdi mdi-cart menu-icon"></i>
                        </a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-md-4 stretch-card grid-margin">
            <div class="card bg-gradient-dark text-white">
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="@Url.Action("Index","Product")" class="nav-link">
                            <span class="menu-title">Product</span>
                            <i class="mdi mdi-cube-outline menu-icon"></i>
                        </a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-md-4 stretch-card grid-margin">
            <div class="card bg-gradient-primary card-img-holder text-white">
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="@Url.Action("Index","ProVaration")" class="nav-link">
                            <span class="menu-title">Product Variation</span>
                            <i class="mdi mdi-cube-send menu-icon"></i>
                        </a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-md-4 stretch-card grid-margin">
            <div class="card bg-gradient-secondary card-img-holder text-white">
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="@Url.Action("Index","ProductAdvertisement")" class="nav-link">
                            <span class="menu-title">Product Advertisement</span>
                            <i class="mdi mdi-buffer menu-icon"></i>
                        </a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-md-4 stretch-card grid-margin">
            <div class="card bg-gradient-warning card-img-holder text-white">
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="@Url.Action("Index","Vendor")" class="nav-link">
                            <span class="menu-title">Vendor</span>
                            <i class="mdi mdi-account-location menu-icon"></i>
                        </a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-md-4 stretch-card grid-margin">
            <div class="card bg-gradient-info card-img-holder text-white">
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="@Url.Action("Index","User")" class="nav-link">
                            <span class="menu-title">User</span>
                            <i class="mdi mdi-account menu-icon "></i>
                        </a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-md-4 stretch-card grid-margin">
            <div class="card bg-gradient-primary text-white">
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="@Url.Action("Index","AccountAdmin")" class="nav-link">
                            <span class="menu-title">Account Admin</span>
                            <i class="mdi mdi-account-settings-variant menu-icon"></i>
                        </a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</section>